body {
    background: #d9d4d4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: block;
    flex-direction: row;
    justify-content: justify;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}

li {
    display: inline-block;
    margin: 20px;
}

.btn {
    border: 2px solid;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 0.3s all;

}

.btn:hover {
    background-color: #756c8a;
    color: white;
    border-color: #756c8a;
}

#btn2 {
    border: 2px solid #756c8a;
    padding: 10px;
    background-color: #756c8a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: 0.3s all;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

input[type=submit] {
    height: 40px;
    width: 100px;
    background-color: #756c8a;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

input {
    margin-top: 25px;
    height: 50px;
    border-color: #008B8B;
    font-size: 15px;
    width: 400px;
    background: #c7c4ce;
    border-radius: 20px;
}

.fixed-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("fundo1.png");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    height: 100vh;

}

.text-type {
    text-align: center;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
}

.texto {
    font-size: 17px;
    color: #666;
    line-height: 1.7;
    align-items: center;
    max-width: 25em;
    margin-left: 15%;
    margin-right: 10%;

}

.about-texto {
    font-size: 17px;
    color: #666;
    max-width: 40rem;
    line-height: 1.7;
    text-align: justify;
    margin: 5rem;
}

.titulos-textos {
    font-weight: 400px;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
}

.projeto-titulo {
    font-size: 50px;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    color: #111;
    padding-top: 5rem;
}

.skills {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem bold;
    background: #c1bbcf;
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.skills-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
}

.contact-text {
    font-size: 17px;
    color: #666;
    max-width: 40rem;
    line-height: 1.7;
    text-align: justify;
    margin: 30px;
}

.icones {
    width: 2em;
}

.about-image {
    border-radius: 7px;
    border: 5px solid #3d3f3f;
    width: 70%;
}

textarea {
    background: #c7c4ce;
    border-radius: 10px;
    width: 25em;
    border-color: #008B8B;
}
